.grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.spin {
  -webkit-animation: spin $spin-interval linear infinite;
  -moz-animation: spin $spin-interval linear infinite;
  animation: spin $spin-interval linear infinite;
}

.rotate {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  &:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Delays.
@for $i from 1 through 5 {
  .animation-delay-#{$i + "00"} {
    animation-delay: #{"." + $i + "s"};
  }
}
