::selection {
  background: rgba($terminal-brand-color, 0.75);
  color: $terminal-background;
  text-shadow: none;
}
::-moz-selection {
  background: rgba($terminal-brand-color, 0.75);
  color: $terminal-background;
  text-shadow: none;
}
body {
  font-family: "Inconsolata", monospace, Arial, Helvetica, sans-serif;
  background-color: $terminal-background;
  margin: 0;
  padding: 0;
  color: $terminal-text-color;
}
a {
  color: $terminal-link-color;
  transition: all 0.125s ease-out;
  &:hover {
    color: $terminal-link-color-hover;
    cursor: pointer;
  }
}
b,
strong,
.text-bold {
  color: $terminal-bold-color;
  text-shadow: 1px 1px 0px #000;
}
.tag {
  text-shadow: 1px 2px 0px #000;
  transition: 1.5s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-menu {
  .nav-item {
    white-space: nowrap;
    .short {
      display: block;
    }
    .long {
      display: none;
    }
    &:hover {
      .short {
        display: none;
      }
      .long {
        display: block;
      }
    }
  }
}
.avatar {
  border-radius: 50%;
  width: 30px;
  height: auto;
  float: left;
  border: 1px solid $terminal-text-color;
  box-sizing: border-box;
}
.hero {
  background-color: $terminal-hero;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.main {
  z-index: 5;
  box-shadow: 0px 0px 5px 0px rgba(#000, 0.35);
}
.navbar-terminal,
.footer {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba($terminal-navbar, 0.925);
  box-shadow: 0px 0px 5px 0px rgba(#000, 0.35);
}
.navbar-terminal {
  .navbar-brand,
  .navbar-brand:active,
  .navbar-brand:focus,
  .navbar-brand:hover,
  .navbar-brand:not([href]),
  .navbar-brand:not([tabindex]),
  .navbar-brand:not([href]):hover,
  .navbar-brand:not([tabindex]):hover {
    color: $terminal-brand-color;
    white-space: nowrap;
  }
}
.navbar-dark {
  .navbar-toggler {
    padding: 0;
    border: none;
    color: #fff;
    &:active,
    &:focus {
      outline: none;
    }
  }
}
.title {
  color: $terminal-title-color;
  text-shadow: 1px 1px 0px #000;
  overflow-wrap: break-word;
}
.title-wrapper {
  background-color: $terminal-background;
  position: sticky;
  top: $top-offset + 46px;
  z-index: 2;
}
.heading {
  color: $terminal-heading-color;
  text-shadow: 1px 2px 0px #000;
}
.heading-wrapper {
  background-color: $terminal-background;
  position: sticky;
  top: $top-offset;
  z-index: 3;
}
hr {
  border-top: 1px solid $terminal-border-color;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
.table {
  width: 100%;
  table-layout: fixed;
  thead td,
  tbody td,
  thead th,
  tbody th {
    border-width: 1px;
    border-color: $terminal-border-color;
    color: $terminal-text-color;
  }
  small {
    display: block;
    line-height: 1.2;
    opacity: 0.75;
  }
}
.print-me {
  color: $terminal-text-color;
  svg {
    font-size: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .nav-menu {
    .nav-item {
      .short {
        display: none;
      }
      .long {
        display: block;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .heading {
    font-size: 1.25rem;
  }
  .table {
    width: auto;
  }
  .title-wrapper {
    top: $top-offset + 40px;
    .title {
      font-size: 1rem;
    }
  }
  .list {
    list-style: none;
  }
}
