$top-offset: 56px;
$terminal-background: #222;
$terminal-hero: #1e1e1e;
$terminal-navbar: #2a2a2a;
$terminal-brand-color: #91FF00;
$terminal-heading-color: #999;
$terminal-title-color: #666;
$terminal-border-color: #444;
$terminal-text-color: #ccc;
$terminal-bold-color: #80C1FF;
$terminal-link-color: #645AF1;
$terminal-link-color-hover: #aea8f8;

$spin-interval: 6s;
